
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #555;
}

header{
    background-color: #162028;
    color: white;
    text-transform: uppercase;
}

.cabecalho{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.titulo-principal{
    font-size: 3em;
}

nav{
    display: flex;
    align-items: center;
    gap: 10em;
}

a{
    text-decoration: none;
    color: #425564;
    font-size: 1.5em;
}

.imagem{
    width: 100vw;
    height: 80vh;
    background-image: url(imagens/topo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.primeira-secao{
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primeira-secao p{
    text-align: center;
    width: 90ch;
    font-size: 2em;
}

.primeira-secao h1{
    font-size: 3em;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.5em;
    margin-top: 3em;
}

.cards img{
    width: 400px;
    height: 300px;
}

.cards h2{
    text-transform: uppercase;
}

.segunda-secao{
    margin-top: 5em;
    background-image: url(imagens/bg_detalhe.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 92vh;
    padding: 4em 2em; 
    color:white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5em;
}

.segunda-secao h1{
    text-transform: uppercase;
    font-size: 5em;
}

.segunda-secao p{
    font-size: 2.5em;
    max-width: 65ch;
}

footer{
    background-color: #0b171f;
    color: #6f8597;
    text-align: center;
    font-size: 1.5em;
}